<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quoting Bad API</title>
    <meta charset="UTF-8" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header class="header">
      <h1 class="logo">
        <span><span class="logo-block">Qu</span>oting</span>
        <span class="bad-container"><span class="logo-block">Ba</span>d</span>
      </h1>
    </header>
    <main>
      <h2>Documentation coming soon...</h2>
      <p>
        until then, play a few rounds of
        <a href="https://richardltyler.github.io/quoting-bad/#/">Quoting Bad</a
        >, the Breaking Bad Trivia game that this app was built for.
      </p>
    </main>
  </body>
</html>
